<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>New item</key>
		<array/>
		<key>name</key>
		<string>kiu001</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu002</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu002</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu002</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu004</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu005</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu006</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu007</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu008</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu009</string>
		<key>dateTime</key>
		<string>6-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu010</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu011</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu012</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiu013</string>
		<key>dateTime</key>
		<string>06-20</string>
		<key>registrationDate</key>
		<string>2014-05-23</string>
		<key>loan</key>
		<string>3000</string>
		<key>manage</key>
		<string>20000</string>
		<key>bonus</key>
		<string>50</string>
	</dict>
</array>
</plist>
