<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
      <string>gamekit</string>
    </array>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>WeiXin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>alisdkgzy1</string>
          <string>wxb19d94eb78e02e2f</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>tencent</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1103298094</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLIconFile</key>
        <string></string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ41C2FE2E</string>
        </array>
        <key>CFBundleURLName</key>
        <string>mqqapi</string>
      </dict>
    </array>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>DTPlatformVersion</key>
    <string>9.2</string>
    <key>DTSDKName</key>
    <string>iphoneos9.2</string>
    <key>CFBundleName</key>
    <string>muzu</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
      </dict>
    </dict>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>CFBundleDisplayName</key>
    <string>过足瘾</string>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>mqzone</string>
      <string>wtloginmqq2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqqopensdkapiV2</string>
      <string>tencent</string>
      <string>mqqopensdkapi</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>alipay</string>
      <string>wechat</string>
      <string>weixin</string>
      <string>baidumap</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>使用位置获取附近的服务人员及商铺信息</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>DTSDKBuild</key>
    <string>13C75</string>
    <key>CFBundleShortVersionString</key>
    <string>22.2.6</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>使用位置获取附近的服务人员及商铺信息</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>14F1509</string>
    <key>DTPlatformBuild</key>
    <string>13C75</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>MinimumOSVersion</key>
    <string>7.1</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>zh_CN</string>
    <key>DTXcodeBuild</key>
    <string>7C68</string>
    <key>CFBundleVersion</key>
    <string>22.2.6</string>
    <key>UILaunchImageFile</key>
    <string>LaunchImage</string>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Landscape-736h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Landscape</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
      <dict>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
      </dict>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleIdentifier</key>
    <string>com.cuihua.muzu001</string>
    <key>DTXcode</key>
    <string>0720</string>
    <key>NSLocationUsageDescription</key>
    <string>使用位置获取附近的服务人员及商铺信息</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
    </dict>
    <key>CFBundleExecutable</key>
    <string>muzu</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
