<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xiaorizi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8EDE4AD71CFE75A3005A24E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EDE4AF01CFE75A3005A24E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EDE4AFB1CFE75A3005A24E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
