<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>借款账单</string>
		<key>icon</key>
		<string>menu_collection_00</string>
		<key>Tag</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>审核中</string>
		<key>icon</key>
		<string>menu_collection_01</string>
		<key>Tag</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>招标中</string>
		<key>icon</key>
		<string>menu_collection_02</string>
		<key>Tag</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>还款中</string>
		<key>icon</key>
		<string>menu_collection_03</string>
		<key>Tag</key>
		<string>4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>已成功</string>
		<key>icon</key>
		<string>menu_collection_04</string>
		<key>Tag</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>资料审核</string>
		<key>icon</key>
		<string>menu_collection_05</string>
		<key>Tag</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>理财账单</string>
		<key>icon</key>
		<string>menu_collection_06</string>
		<key>Tag</key>
		<integer>101</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>投标记录</string>
		<key>icon</key>
		<string>menu_collection_07</string>
		<key>Tag</key>
		<integer>102</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>等待满标</string>
		<key>icon</key>
		<string>menu_collection_08</string>
		<key>Tag</key>
		<integer>103</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>收款中</string>
		<key>icon</key>
		<string>menu_collection_09</string>
		<key>Tag</key>
		<integer>104</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>已完成</string>
		<key>icon</key>
		<string>menu_collection_10</string>
		<key>Tag</key>
		<integer>105</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>债权管理</string>
		<key>icon</key>
		<string>menu_collection_11</string>
		<key>Tag</key>
		<integer>106</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>理财统计</string>
		<key>icon</key>
		<string>menu_collection_12</string>
		<key>Tag</key>
		<integer>107</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>投标机器人</string>
		<key>icon</key>
		<string>menu_collection_13</string>
		<key>Tag</key>
		<integer>108</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>账户信息</string>
		<key>icon</key>
		<string>menu_collection_14</string>
		<key>Tag</key>
		<integer>201</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>资金记录</string>
		<key>icon</key>
		<string>menu_collection_15</string>
		<key>Tag</key>
		<integer>202</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>充值</string>
		<key>icon</key>
		<string>menu_collection_16</string>
		<key>Tag</key>
		<integer>203</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>提现</string>
		<key>icon</key>
		<string>menu_collection_17</string>
		<key>Tag</key>
		<integer>204</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>账户安全</string>
		<key>icon</key>
		<string>menu_collection_19</string>
		<key>Tag</key>
		<integer>205</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>信用等级</string>
		<key>icon</key>
		<string>menu_collection_21</string>
		<key>Tag</key>
		<integer>206</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>我的收藏</string>
		<key>icon</key>
		<string>menu_collection_22</string>
		<key>Tag</key>
		<integer>207</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>关注用户</string>
		<key>icon</key>
		<string>menu_collection_23</string>
		<key>Tag</key>
		<integer>208</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>黑名单</string>
		<key>icon</key>
		<string>menu_collection_24</string>
		<key>Tag</key>
		<integer>209</integer>
	</dict>
</array>
</plist>
